@{
    ViewData["Title"] = "Home Page";
}

@section CustomStyles
    {
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <style>

        .slider {
            margin: 20px;
            max-width: 450px; /* İstediğiniz genişliği ayarlayabilirsiniz */
            max-height: 600px;
            margin-left: auto;
            margin-right: auto;
            overflow: hidden; /* Taşan içeriği gizle */
            border-radius: 10px; /* Kenarları kavisli yap */
            position: relative; /* Bağlı olan içeriklere göre pozisyonu ayarla */
        }

            .slick-slide img {
                width: auto;
                height: 100%;
                max-width: 100%; /* Resmi slider içine sığdır */
                margin: 0 auto;
                border-radius: 8px; /* Kenarları kavisli yap, çerçeveden daha küçük bir değer kullanabilirsiniz */
            }
    </style>
}
<!-- Google fonts-->
<link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i"
      rel="stylesheet" />

@section CustomScripts
    {
    <script>
        $(document).ready(function () {
            $('.slider').slick({
                autoplay: true,
                autoplaySpeed: 2000,
                dots: true,
                infinite: true,
                speed: 500,
                slidesToShow: 1,
                slidesToScroll: 1
            });
        });
    </script>
}

@section Slider
    {
    <div class="slider">
        <div>
            <img src="/img/dso.jpg" alt="Slider Image 1">
        </div>
        
        <div>
            <img src="/img/slider1.jpg" alt="Slider Image 3">
        </div>

        <div>
            <img src="/img/slider2.jpg" alt="Slider Image 1">
        </div>

        <div>
            <img src="/img/slider3.jpg" alt="Slider Image 1">
        </div>

        <div>
            <img src="/img/slider4.jpg" alt="Slider Image 1">
        </div>
    </div>
}

<!-- Diğer içerikler buraya gelebilir -->

<h1>DOKTORLARIMIZ</h1>
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="https://gunceloku.com/uploads/doktorlar-dizisi-cekildigi-hastanenin-adi-nedir-63c2f180f378a.png" alt="..." />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Fresh Coffee</span>
                    <span class="section-heading-lower">Worth Drinking</span>
                </h2>
                <p class="mb-3">Every cup of our quality artisan coffee starts with locally sourced, hand picked ingredients. Once you try it, our coffee will be a blissful addition to your everyday morning routine - we guarantee it!</p>
                <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#!">Visit Us Today!</a></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Our Promise</span>
                        <span class="section-heading-lower">To You</span>
                    </h2>
                    <p class="mb-0">When you walk into our shop to start your day, we are dedicated to providing you with friendly service, a welcoming atmosphere, and above all else, excellent products made with the highest quality ingredients. If you are not satisfied, please let us know and we will do whatever we can to make things right!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<br />
<br />
<br />

<!-- end contact section -->
<!-- info section -->
<section class="info_section ">
    <div class="container">
        <h4>
            Get In Touch
        </h4>
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="info_items">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="">
                                <div class="item ">
                                    <div class="img-box ">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    </div>
                                    <p>
                                        Planet Hospital
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="">
                                <div class="item ">
                                    <div class="img-box ">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                    </div>
                                    <p>
                                        +44 11 2233 4455
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="">
                                <div class="item ">
                                    <div class="img-box">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </div>
                                    <p>
                                        planet-hospital@gmail.com
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="social-box">
        <h4>
            Follow Us
        </h4>
        <div class="box">
            <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
                <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
            <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>



<!-- end info_section -->
<!-- footer section -->
<footer class="footer_section">
    <div class="container">
        <p>
            &copy; <span id="displayDateYear"></span> All Rights Reserved By
            <a href="https://html.design/">Selin-İkbal</a>
        </p>
    </div>
</footer>
<!-- footer section -->
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
