@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br/>
    <h1 style="color:purple" class="display-4"><strong>Hastane Sayfamıza Hoşgeldiniz</strong></h1>
    <br/>
    <br/>
    <p><img src="/img/sembol1.png" /></p>
    <p><img src="/img/hastane1.webp" /></p>
    
</div>
