@model Randevu

<!-- flatpickr ve saat seçenekleri kütüphanesini CDN üzerinden ekleyin -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<body>
<form method="post" enctype="multipart/form-data">

    <div class="row">

            <div class="border p-3 mt-5">
                <div class="row pb-3">
                <h2 class="text-primary">@(Model == null ? "Yeni Randevu" : "Randevu Güncelle")</h2>
                    </hr>
                </div>

                <div class="mb-3">
                    <label asp-for="HastaId" class="p-0"></label>
                    <input asp-for="HastaId" class="form-control" />
                    <span asp-validation-for="HastaId" class="text-bg-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="DoktorId" class="p-0"></label>
                    <select asp-for="DoktorId" asp-items="ViewBag.DoktorList" class="form-select"></select>
                </div>

                <div class="mb-3">
                    <label asp-for="RandevuTarihi" class="p-0"></label>
                    <input asp-for="RandevuTarihi" class="form-control" data-toggle="flatpickr" />
                    <span asp-validation-for="RandevuTarihi" class="text-bg-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="RandevuSaati" class="p-0"></label>
                    <select asp-for="RandevuSaati" class="form-select">
                        <option value="09:00">09:00</option>
                        <option value="10:00">10:00</option>
                        <option value="11:00">11:00</option>
                        <option value="13:00">13:00</option>
                        <option value="14:00">14:00</option>
                        <option value="15:00">15:00</option>
                    </select>
                    <span asp-validation-for="RandevuSaati" class="text-bg-danger"></span>
                </div>

  
                    @if (Model != null)
                    {
                        <button type="submit" class="btn btn-primary">Güncelle</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary">Yeni Randevu</button>
                    }
                <a asp-controller="Randevu" asp-action="Index" class="btn btn-primary" type="button">Geri Dön</a>
            </div>
        
    </div>


    
</form>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        flatpickr("[data-toggle=flatpickr]", {
            minDate: "today",
            dateFormat: "d-m-Y"
        });
    });
</script>
</body>