@model Randevu


<form method="post" enctype="multipart/form-data">

    <div class="row">

            <div class="border p-3 mt-5">
                <div class="row pb-3">
                <h2 class="text-primary">@(Model == null ? "Yeni Randevu" : "Randevu Güncelle")</h2>
                    </hr>
                </div>

                <div class="mb-3">
                    <label asp-for="HastaId" class="p-0"></label>
                    <input asp-for="HastaId" class="form-control" />
                    <span asp-validation-for="HastaId" class="text-bg-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="DoktorId" class="p-0"></label>
                    <select asp-for="DoktorId" asp-items="ViewBag.DoktorList" class="form-select"></select>
                </div>

                <div class="mb-3">
                    <label asp-for="RandevuTarihi" class="p-0"></label>
                    <input asp-for="RandevuTarihi" class="form-control" />
                    <span asp-validation-for="RandevuTarihi" class="text-bg-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="RandevuSaati" class="p-0"></label>
                    <input asp-for="RandevuSaati" class="form-control" />
                    <span asp-validation-for="RandevuSaati" class="text-bg-danger"></span>
                </div>

  
                    @if (Model != null)
                    {
                        <button type="submit" class="btn btn-primary">Güncelle</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary">Yeni Randevu</button>
                    }
                <a asp-controller="Randevu" asp-action="Index" class="btn btn-primary" type="button">Geri Dön</a>
            </div>
        
    </div>


    
</form>