@using udemyWeb1.Haberlesme;
@model List<PoliklinikTuru>

@if (TempData["basarili"] != null)
{
    <h2 style="color:red">@TempData["basarili"]</h2>
}

<h1>Poliklinik Türü Sayfası</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
               
            </th>
            <th>
                Poliklinik Adı
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var poliklinikTuru in Model)
        {
            <tr>
                <td></td>
                <td>@poliklinikTuru.Ad</td>
                @if (User.IsInRole(UserRoles.Role_Admin))
                {
                    <td>
                        <a asp-controller="PoliklinikTuru" asp-action="Guncelle" asp-route-id="@poliklinikTuru.Id" type="button" class="btn btn-success" style="width:150px">Güncelle</a>
                    </td>
                    <td>
                        <a asp-controller="PoliklinikTuru" asp-action="Sil" asp-route-id="@poliklinikTuru.Id" type="button" class="btn btn-danger" style="width:150px">Sil</a>
                </td>
                }
            </tr>
        }
    </tbody>
</table>
@if (User.IsInRole(UserRoles.Role_Admin))
{
    <div class="row pt-3 pb3">
        <div>

            <a asp-controller="PoliklinikTuru" asp-action="Ekle" class="btn btn-primary" type="button">Oluştur</a>
        </div>
    </div>
}

<br />
<br />
<br />

<!-- end contact section -->
<!-- info section -->
<section class="info_section ">
    <div class="container">
        <h4>
            Get In Touch
        </h4>
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="info_items">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="">
                                <div class="item ">
                                    <div class="img-box ">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    </div>
                                    <p>
                                        Planet Hospital
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="">
                                <div class="item ">
                                    <div class="img-box ">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                    </div>
                                    <p>
                                        +44 11 2233 4455
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="">
                                <div class="item ">
                                    <div class="img-box">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </div>
                                    <p>
                                        planet-hospital@gmail.com
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="social-box">
        <h4>
            Follow Us
        </h4>
        <div class="box">
            <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
                <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
            <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>



<!-- end info_section -->
<!-- footer section -->
<footer class="footer_section">
    <div class="container">
        <p>
            &copy; <span id="displayDateYear"></span> All Rights Reserved By
            <a href="https://html.design/">Selin-İkbal</a>
        </p>
    </div>
</footer>
<!-- footer section -->